@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
    --dark: #001233;
    --white: #ffff;
    --yellow: #ffb703;
    --green: rgb(12, 158, 7);
}

body {
    font-family: "Comfortaa", cursive;
}

/* Header */
header {
    padding: 10px 0;
    background-color: var(--green);
}

/* Tabla */
.header {
    margin-top: 5%;
    padding: 10px 0;
    display: flex;
    text-align: center;
}

a{
    text-decoration:none;
    color:black
}

/* Estilos generales para hacer que la tabla sea responsive */
table {
    margin-top: 5%;
    margin-left: 5%;
    max-width: 90%;
    background-color: rgb(124, 253, 124);
}

.table-responsive {
    overflow-x: auto;
}

thead {
    text-align: center;
    background-color: var(--green);
    color: white;
    font-style: italic;
    font-size: 25px;
}

tbody {
    text-align: center;
    color: black;
    font-style: initial;
    font-size: 25px;
}

td.pedido {
    font-size: 30px;
    padding-bottom: 5%;
}

.modal-header {
    text-align: center;
    background-color: var(--green);
    color: white;
    font-style: italic;
    font-size: 25px;
}

.save{
    background-color: var(--green);
    color: white;;
}